.animation-delay-1000{animation-delay:1s}.animation-delay-2000{animation-delay:2s}.animation-delay-4000{animation-delay:4s}.parallax-image{transform:translateY(var(--translate-y, 0px));transition:transform .1s ease-out}
